# 排除所有可执行文件
*.exe

# 排除压缩包
*.zip
*.rar
*.7z

# 排除高云（Gowin）或其它工具生成的编译输出目录
impl/
stdout.log
stderr.log
上位机文件/
# 排除用户特定的工程设置
*.user

# 排除临时文件和备份文件
*~
*.bak

# 排除 SVN 遗留文件
.svn/

# 排除高云工具生成的临时文件夹
temp/

# 排除所有日志和报告
*.log
*.html
*.xml
*.ini
