//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.03 (64-bit)
//Part Number: GW5AT-LV138PG484AC1/I0
//Device: GW5AT-138
//Device Version: B
//Created Time: Sat 11 01 16:48:51 2025

IO_LOC "O_ddr_ba[2]" W1;
IO_PORT "O_ddr_ba[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_ba[1]" Y1;
IO_PORT "O_ddr_ba[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_ba[0]" U5;
IO_PORT "O_ddr_ba[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[13]" T6;
IO_PORT "O_ddr_addr[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[12]" W2;
IO_PORT "O_ddr_addr[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[11]" R4;
IO_PORT "O_ddr_addr[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[10]" AA6;
IO_PORT "O_ddr_addr[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[9]" U6;
IO_PORT "O_ddr_addr[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[8]" U3;
IO_PORT "O_ddr_addr[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[7]" R6;
IO_PORT "O_ddr_addr[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[6]" T1;
IO_PORT "O_ddr_addr[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[5]" T5;
IO_PORT "O_ddr_addr[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[4]" U1;
IO_PORT "O_ddr_addr[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[3]" T4;
IO_PORT "O_ddr_addr[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[2]" V3;
IO_PORT "O_ddr_addr[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[1]" U2;
IO_PORT "O_ddr_addr[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[0]" V2;
IO_PORT "O_ddr_addr[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_odt" V5;
IO_PORT "O_ddr_odt" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_cke" Y2;
IO_PORT "O_ddr_cke" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_we_n" W5;
IO_PORT "O_ddr_we_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_cas_n" W6;
IO_PORT "O_ddr_cas_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_ras_n" Y6;
IO_PORT "O_ddr_ras_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_cs_n" T3;
IO_PORT "O_ddr_cs_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_reset_n" U7;
IO_PORT "O_ddr_reset_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_clk" R3,R2;
IO_PORT "O_ddr_clk" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_dqm[1]" AB3;
IO_PORT "O_ddr_dqm[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_dqm[0]" W9;
IO_PORT "O_ddr_dqm[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[15]" AA1;
IO_PORT "IO_ddr_dq[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[14]" AB1;
IO_PORT "IO_ddr_dq[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[13]" Y4;
IO_PORT "IO_ddr_dq[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[12]" AA4;
IO_PORT "IO_ddr_dq[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[11]" V4;
IO_PORT "IO_ddr_dq[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[10]" AB2;
IO_PORT "IO_ddr_dq[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[9]" AA5;
IO_PORT "IO_ddr_dq[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[8]" AB5;
IO_PORT "IO_ddr_dq[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[7]" V7;
IO_PORT "IO_ddr_dq[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[6]" Y8;
IO_PORT "IO_ddr_dq[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[5]" Y9;
IO_PORT "IO_ddr_dq[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[4]" W7;
IO_PORT "IO_ddr_dq[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[3]" AB6;
IO_PORT "IO_ddr_dq[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[2]" Y7;
IO_PORT "IO_ddr_dq[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[1]" AB8;
IO_PORT "IO_ddr_dq[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[0]" AB7;
IO_PORT "IO_ddr_dq[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dqs[1]" Y3,AA3;
IO_PORT "IO_ddr_dqs[1]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dqs[0]" V9,V8;
IO_PORT "IO_ddr_dqs[0]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "LED3" K21;
IO_PORT "LED3" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED2" L21;
IO_PORT "LED2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED1" N22;
IO_PORT "LED1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED0" M22;
IO_PORT "LED0" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txen" AA19;
IO_PORT "rgmii_txen" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[3]" Y22;
IO_PORT "rgmii_txd[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[2]" W21;
IO_PORT "rgmii_txd[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[1]" W22;
IO_PORT "rgmii_txd[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[0]" U21;
IO_PORT "rgmii_txd[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_tx_clk" U22;
IO_PORT "rgmii_tx_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "eth_mdio" W17;
IO_PORT "eth_mdio" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "eth_mdc" AA18;
IO_PORT "eth_mdc" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "eth_rst_n" V22;
IO_PORT "eth_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ad_clk2" F20;
IO_PORT "ad_clk2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ad_clk1" F16;
IO_PORT "ad_clk1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_2[7]" C13;
IO_PORT "dac_data_2[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_2[6]" B13;
IO_PORT "dac_data_2[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_2[5]" D14;
IO_PORT "dac_data_2[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_2[4]" D15;
IO_PORT "dac_data_2[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_2[3]" C14;
IO_PORT "dac_data_2[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_2[2]" C15;
IO_PORT "dac_data_2[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_2[1]" B15;
IO_PORT "dac_data_2[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_2[0]" B16;
IO_PORT "dac_data_2[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_1[7]" A13;
IO_PORT "dac_data_1[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_1[6]" A16;
IO_PORT "dac_data_1[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_1[5]" A15;
IO_PORT "dac_data_1[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_1[4]" A19;
IO_PORT "dac_data_1[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_1[3]" A18;
IO_PORT "dac_data_1[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_1[2]" F14;
IO_PORT "dac_data_1[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_1[1]" F13;
IO_PORT "dac_data_1[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_data_1[0]" E14;
IO_PORT "dac_data_1[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_clk_2" E13;
IO_PORT "dac_clk_2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_clk_1" A14;
IO_PORT "dac_clk_1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2c_sclk_io" T21;
IO_PORT "i2c_sclk_io" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2c_sclk" M13;
IO_PORT "i2c_sclk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "user_ctrl_series_out[3]" E1;
IO_PORT "user_ctrl_series_out[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "user_ctrl_series_out[2]" D1;
IO_PORT "user_ctrl_series_out[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "user_ctrl_series_out[1]" G2;
IO_PORT "user_ctrl_series_out[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "user_ctrl_series_out[0]" F1;
IO_PORT "user_ctrl_series_out[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pwm_out[3]" H2;
IO_PORT "pwm_out[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pwm_out[2]" G1;
IO_PORT "pwm_out[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pwm_out[1]" J1;
IO_PORT "pwm_out[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pwm_out[0]" J2;
IO_PORT "pwm_out[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SPI_M_MOSI_io" U18;
IO_PORT "SPI_M_MOSI_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SPI_M_SCLK_io" U17;
IO_PORT "SPI_M_SCLK_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SPI_M_CS_io" P14;
IO_PORT "SPI_M_CS_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SPI_M_MOSI" M5;
IO_PORT "SPI_M_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SPI_M_SCLK" N5;
IO_PORT "SPI_M_SCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SPI_M_CS" M6;
IO_PORT "SPI_M_CS" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_tx" M15;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ds" M18;
IO_PORT "ds" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "st_cp" C2;
IO_PORT "st_cp" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sh_cp" F4;
IO_PORT "sh_cp" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "FX2_SPI_MISO" L16;
IO_PORT "FX2_SPI_MISO" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_slcs" J16;
IO_PORT "fx2_slcs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_pkt_end" J14;
IO_PORT "fx2_pkt_end" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_slrd" K19;
IO_PORT "fx2_slrd" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_slwr" L20;
IO_PORT "fx2_slwr" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_sloe" J15;
IO_PORT "fx2_sloe" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_faddr[1]" H13;
IO_PORT "fx2_faddr[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_faddr[0]" K13;
IO_PORT "fx2_faddr[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2c_sdat_io" T20;
IO_PORT "i2c_sdat_io" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2c_sdat" M16;
IO_PORT "i2c_sdat" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[7]" G15;
IO_PORT "fx2_fdata[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[6]" K14;
IO_PORT "fx2_fdata[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[5]" G16;
IO_PORT "fx2_fdata[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[4]" G13;
IO_PORT "fx2_fdata[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[3]" J20;
IO_PORT "fx2_fdata[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[2]" G20;
IO_PORT "fx2_fdata[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[1]" G17;
IO_PORT "fx2_fdata[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[0]" G18;
IO_PORT "fx2_fdata[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "signal_in_logic[7]" R14;
IO_PORT "signal_in_logic[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "signal_in_logic[6]" R18;
IO_PORT "signal_in_logic[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "signal_in_logic[5]" T18;
IO_PORT "signal_in_logic[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "signal_in_logic[4]" N17;
IO_PORT "signal_in_logic[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "signal_in_logic[3]" P17;
IO_PORT "signal_in_logic[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "signal_in_logic[2]" P15;
IO_PORT "signal_in_logic[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "signal_in_logic[1]" R16;
IO_PORT "signal_in_logic[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "signal_in_logic[0]" N13;
IO_PORT "signal_in_logic[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "input_signal" H14;
IO_PORT "input_signal" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "KEY_1" F15;
IO_PORT "KEY_1" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rgmii_rxdv" AB18;
IO_PORT "rgmii_rxdv" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rgmii_rxd[3]" R19;
IO_PORT "rgmii_rxd[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rgmii_rxd[2]" P19;
IO_PORT "rgmii_rxd[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rgmii_rxd[1]" V18;
IO_PORT "rgmii_rxd[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rgmii_rxd[0]" V17;
IO_PORT "rgmii_rxd[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rgmii_rx_clk_i" W19;
IO_PORT "rgmii_rx_clk_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in2[7]" F19;
IO_PORT "ad_in2[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in2[6]" E18;
IO_PORT "ad_in2[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in2[5]" F18;
IO_PORT "ad_in2[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in2[4]" D19;
IO_PORT "ad_in2[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in2[3]" E19;
IO_PORT "ad_in2[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in2[2]" C20;
IO_PORT "ad_in2[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in2[1]" D20;
IO_PORT "ad_in2[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in2[0]" E17;
IO_PORT "ad_in2[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in1[7]" C18;
IO_PORT "ad_in1[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in1[6]" C19;
IO_PORT "ad_in1[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in1[5]" B17;
IO_PORT "ad_in1[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in1[4]" B18;
IO_PORT "ad_in1[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in1[3]" E16;
IO_PORT "ad_in1[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in1[2]" D16;
IO_PORT "ad_in1[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in1[1]" D17;
IO_PORT "ad_in1[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ad_in1[0]" C17;
IO_PORT "ad_in1[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "SPI_M_MISO" P6;
IO_PORT "SPI_M_MISO" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "uart_rx" J21;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "SW7" B22;
IO_PORT "SW7" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "SW6" C22;
IO_PORT "SW6" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "SW5" D21;
IO_PORT "SW5" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "SW4" E21;
IO_PORT "SW4" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "SW3" G21;
IO_PORT "SW3" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "SW2" E22;
IO_PORT "SW2" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "SW1" D22;
IO_PORT "SW1" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "SW0" G22;
IO_PORT "SW0" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "FX2_SPI_MOSI" K16;
IO_PORT "FX2_SPI_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "FX2_SPI_SCLK" L15;
IO_PORT "FX2_SPI_SCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "FX2_SPI_CS" L14;
IO_PORT "FX2_SPI_CS" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "fx2_ifclk" L19;
IO_PORT "fx2_ifclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "fx2_flagc" J17;
IO_PORT "fx2_flagc" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "fx2_flagb" H18;
IO_PORT "fx2_flagb" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "reset_n" B21;
IO_PORT "reset_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk50m" Y18;
IO_PORT "clk50m" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
